.hotel-list {
  margin-top: 25px;
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.hotel-card {
  background: #c5d3e2;
  display: grid;
  grid-template-columns: 180px 1fr 20%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.12);

  .image {
    min-width: 180px;
    height: 180px;
    background-size: cover;
  }

  .hotel-details {
    padding: 10px;
  }

  .hotel-name {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 140%;
    margin-bottom: 5px;
  }

  .location {
    color: #6d6d6d;
    font-size: 13px;
  }

  .price-details {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid #dcdcdc;
  }

  .price {
    font-weight: 500;
    font-size: 1.75rem;
    color: #4c5a69;
  }

  .rewards {
    font-weight: 400;
  }

  .button {
    background-color: #5c6a79;
    color: white;
    display: block;
    border: none;
    padding: 4px 10px;
    font-size: 0.9rem;
    font-family: "Oswald", sans-serif;
    border-radius: 5px;
  }

  .button:hover {
    background-color: #405368;
    cursor: pointer;
  }

  .button:active {
    background-color: #5c6a79;
  }
}
